matplotlib==3.5.3
astroid
attrs
cycler
importlib-metadata
isort
kiwisolver
lazy-object-proxy

mccabe
more-itertools
numpy
packaging
pluggy
py
pylint
pyparsing
pytest
pytest-json-report
pytest-metadata
python-dateutil
pytest-json-report
rope
six
toml

wcwidth
wheel
wrapt
zipp